<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">

    <title>Migration service</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<header class="header">
    <a href="/" class="logo">
        <img th:src="@{/images/logo.png}"/>
    </a>

    <nav class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <div class="dropdown">
            <a>Articles</a>
            <div class="dropdown-content">
                <a href="/articles/FAQ">FAQ</a>
                <a href="/articles/documentInfo">Document information</a>
                <a href="/articles/News">News</a>
                <a href="/articles/">All Articles</a>
            </div>
        </div>

    </nav>

    <div class="icons">
        <a href="/webcab/show"> <div class="fas fa-user" id="cabinet"></div></a>
        <a sec:authorize="isAuthenticated()" href="/logout"><div class="fas fa-sign-out-alt" id="logout"></div></a>
        <a sec:authorize="!isAuthenticated()" href="/login"> <div class="fas fa-sign-in-alt" id="login"></div></a>
    </div>

</header>

<section class="home" id="home">
    <div class="content">
        <h3>ACCESS DENIED. YOU HAVE NO RIGHTS TO SEE THIS CONTENT</h3>
    </div>
</section>

<footer class="footer">
    <div class="follow">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <a href="/articles/">Articles</a>
    </div>
    <div class="credit">© 2024 Migration service. All rights reserved</div>
</footer>

</body>

</html>
