<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">

    <title>Migration service</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.ajax({
                url: '/admin/queueRows',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    if (data.length === 0) {
                        jQuery('#no-queues-message').show();
                        jQuery('#queueRowsTable').hide();
                        jQuery('#qeueues_header').hide();
                    } else {
                        jQuery('#headerrow').after(createDataRowsFromJson(data));
                        jQuery('#no-queues-message').hide();
                        jQuery('#queueRowTable').show();
                        jQuery('#qeueues_header').show();
                    }
                }
            });
        });

        function createDataRowsFromJson(data) {
            var tableContent = "";
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    tableContent += "<tr class='datarow'>";
                    tableContent += "<td>" + data[key].pasNum + "</td>";
                    tableContent += "<td>" + data[key].username + "</td>";
                    tableContent += "<td>" + data[key].userLastName + "</td>";
                    tableContent += "<td>" + data[key].operatorFirstName + "</td>";
                    tableContent += "<td>" + data[key].operatorLastName + "</td>";
                    tableContent += "<td>" + data[key].operation.name + "</td>";
                    tableContent += "<td>" + data[key].phone + "</td>";
                    tableContent += "<td>" + data[key].email + "</td>";
                    tableContent += "<td>" + data[key].dateTime + "</td>";
                    tableContent += "<td>" + data[key].departmentNumber + "</td>";
                    tableContent += "<td>" + data[key].region + "</td>";
                    tableContent += "<td>" + data[key].city + "</td>";
                    tableContent += "</tr>";
                }
            }
            return tableContent;
        }


    </script>
</head>

<body>
<header class="header">
    <a href="/" class="logo">
        <img th:src="@{/images/logo.png}"/>
    </a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <div class="dropdown">
            <a>Articles</a>
            <div class="dropdown-content">
                <a href="/articles/FAQ">FAQ</a>
                <a href="/articles/documentInfo">Document information</a>
                <a href="/articles/News">News</a>
                <a href="/articles/">All Articles</a>
            </div>
        </div>

    </nav>

    <div class="icons">
        <a href="/webcab/show">
            <div class="fas fa-user" id="cabinet"></div>
        </a>
        <a sec:authorize="isAuthenticated()" href="/logout">
            <div class="fas fa-sign-out-alt" id="logout"></div>
        </a>
        <a sec:authorize="!isAuthenticated()" href="/login">
            <div class="fas fa-sign-in-alt" id="login"></div>
        </a>
    </div>

</header>

<section class="home" id="home">
    <div class="content">
        <div class="container">
            <h2 id="qeueues_header">Queues</h2>
            <h2 id="no-queues-message">There are no queues for now!</h2>
            <br>
            <table style="width: 100%" id="queueRowsTable">
                <tr id="headerrow">

                    <td>Passport/Visa</td>
                    <td>User's First Name</td>
                    <td>User's last Name</td>
                    <td>Operator's Name</td>
                    <td>Operator's Last Name</td>
                    <td>Operation</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Date&Time</td>
                    <td>Department Number</td>
                    <td>Region</td>
                    <td>City</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<section class="services" id="services">
    <h1 class="heading"> Available <span>operations</span></h1>

    <div class="box-container">

        <a th:href="@{/webcab/docs}">
            <div class="box">
                <img th:src="@{/images/service1.png}">
                <h3>Your documents</h3>

            </div>
        </a>
        <a th:if="${registrationAllowed}" href='/webcab/queue/registration/'>
            <div class="box">
                <img th:src="@{/images/queue.png}">
                <h3> Register in electronic queue</h3>
            </div>
        </a>
        <a sec:authorize="hasAuthority('ADMIN')" href='/admin/users/'>
            <div class="box">
                <img th:src="@{/images/admin.png}">
                <h3> User management</h3>
            </div>
        </a>
        <a sec:authorize="hasAuthority('ADMIN')" href='/admin/queueRows/show'>
            <div class="box">
                <img th:src="@{/images/admin.png}">
                <h3> User queue</h3>
            </div>
        </a>
    </div>
</section>


<footer class="footer">
    <div class="follow">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <a href="/articles/">Articles</a>
    </div>
    <div class="credit">© 2024 Migration service. All rights reserved</div>
</footer>

</body>

</html>
