<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"><link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Migration service</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script th:src="@{/js/jquery-3.5.0.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var quill = new Quill('#editor', {
                theme: 'snow'
            });

            jQuery("#addarticle").click(function () {
                var Article = {
                    title: jQuery("#title").val(),
                    text: quill.root.innerHTML,
                    articleType: jQuery("#articleType").val()
                };
                var url = '/admin/article/';
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(Article),
                    dataType: 'json',
                    success: function (data) {
                        location.href = "/articles/";
                    },
                    error: function (e) {
                        alert("Error! Something went wrong!");
                        location.href = "/articles/";
                    }
                });
            });
        });
    </script>
</head>

<body>
<header class="header">
    <a href="/" class="logo">
        <img th:src="@{/images/logo.png}"/>
    </a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <div class="dropdown">
            <a class="active">Articles</a>
            <div class="dropdown-content">
                <a href="/articles/FAQ">FAQ</a>
                <a href="/articles/documentInfo">Document information</a>
                <a href="/articles/News">News</a>
                <a href="/articles/">All Articles</a>
            </div>
        </div>

    </nav>

    <div class="icons">
        <a href="/webcab/show"> <div class="fas fa-user" id="cabinet"></div></a>
        <a sec:authorize="isAuthenticated()" href="/logout"><div class="fas fa-sign-out-alt" id="logout"></div></a>
        <a sec:authorize="!isAuthenticated()" href="/login"> <div class="fas fa-sign-in-alt" id="login"></div></a>
    </div>

</header>

<section class="form" id="form">
    <h2>Створення Articles</h2>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="editor">Text:</label>
        <div id="editor"></div>
    </div>
    <div>
        <select id="articleType" name="articleType">
            <option th:each="type : ${articleTypes}"
                    th:value="${type}"
                    th:text="${type}"></option>
        </select>
    </div>
    <div class="button-container">
        <button id="addarticle">Submit</button>
    </div>
</section>

<footer class="footer">
    <div class="follow">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/#about">About us</a>
        <a href="/#services">Services</a>
        <a href="/#contact">Contacts</a>
        <a href="/articles/">Articles</a>
    </div>
    <div class="credit">© 2024 Migration service. All rights reserved</div>
</footer>

</body>

</html>
